* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.container{
    min-width: 100%;
}
nav a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    background-color: lightslategray;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
nav a:hover{
    background-color: darkorange;
}
nav{
    width: 85%;
    max-width: 420px;
    margin: 30px auto 0 auto;
}
#modal{
    display: none;
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
}
#videoArticle,
#posterVideo{
    width: 90%;
    height: 190px;
    max-width: 320px;
}
#posterVideo{
    margin: 0 auto;
    background-image: url("src/posterVideo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#posterVideo svg{
    width: 40px;
    height: 40px;
}
.informationArticle{
    width: 85%;
    max-width: 420px;
    margin: 80px auto;
}
.informationArticle h1{
    font-size: 2rem;
    margin: 30px 0 15px 0;
}
.informationArticle p{
    font-size: 1rem;
}